@import './library/normalize.scss';
@import './library/mixin.scss';
@import './library/base.scss';

.app {
  height: 100vh;
  background: var(--them1_primary);
  color: var(--white);
  @include flexCenter;
}
